/* Navigation bar CSS */
	
	a {
		text-decoration:none;
		color:#f35c1b;
	}
	
	h1, h2, h3, h4 {
		
		font-family:Montserrat,sans-serif;
		
	}
	
	p {
		
		font-family:Roboto Ligth, sans-serif;
		color: black;
		
	}
	
	body {
	
	overflow-x: hidden;
	
	}	
	
	.boldtext {
		
		font-weight:bold;
		
	}
	
	.bigheader {
		width: 100vw;
		height: 70px;
		background-color: black;
		position: fixed;
		margin:-10px 0px 0px -8px;
		z-index:10;
	}
	
	.smallheader {
		width: 50%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		right:50px;
		
	}
	
	.menulist {
			list-style-type:none;
			position:relative;
			top:15px;
			
	}
	
	.menulistelements {
		font-family:Montserrat, sans-serif;
		color:white;
		display:inline;
		margin: 25px;
		cursor:pointer;
	
	}
	
	.menulinks:link {
		color:white;
		transition: color 0.2s linear;
	}
	
	.menulinks:visited {
		color:white;
		
	}
	
	.menulinks:hover {
		color:#f35c1b;
	}
	
	.subscribebutton {
		width:130px;
		height:30px;
		background-color:transparent;
		color:white;
		position:relative;
		float:right;
		bottom:25px;
		border-style:solid;
		border-width:2px;
		border-color:white;
		border-radius:20px;
		font-family:Montserrat,sans-serif;
		cursor:pointer;
	}
	
	/* ######## FIRST SECTION - HOME ######### */
	
	.home {
		
		width:100vw;
		height:750px;
		background-image: url("abstract1.png");
		position: relative;
		margin:0px 0px 0px -8px;
		cursor: default;
		
	}
	
	.hometext {
	
		width:50%;
		height:100%;
		position: relative;
		float:left;
	
	}
	
	.textcontainerhome {
		
		width:75%;
		height:65%;
		position:relative;
		right:90px;
		float:right;
		top:180px;

	}
	
	.textcontainerhometext {
		
		position:relative;
		font-size:55px;
		color:black;
		top:-20px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		
	}
	
	.thedevcolor {
		
		color:#f35c1b;
		
	}
	
	.homesmalltext {
		
		font-size:20px;
		line-height:45px;
		position:relative;
		bottom:30px;
		left:7px;
		opacity:0.8;
	}
	
	.subbuttonhome {
		
		position:relative;
		bottom:20px;
		width:250px;
		height:50px;
		border-style:none;
		background-color:#f35c1b;
		color:white;
		font-size:17px;
		font-weight:bold;
		border-radius:25px;
		cursor:pointer;
		
	}
	
	.illustration1div {
		
		width:50%;
		height:100%;
		position:relative;
		float:right;
	}
	
	.illustration1 {
		
		width:85%;
		height:auto;
		position:relative;
		top:140px;
		right:50px;
		
	}
	
	
	/* ############# ABOUT ME SECTION ########## */
	
	.aboutme {
		
		width:100vw;
		height:910px; 
		position:relative;
		right:8px;
		cursor:default;
		
	}
	
	.aboutme1 {
		
		width:65vw;
		height:90%;
		position:relative;
		margin-right:auto;
		margin-left:auto;
		cursor:default;

	}
	
	.aboutmetext {
		
		color:black;
		font-size:75px;
		letter-spacing:20px;
		position:relative;
		text-align:center;
	
	}
	
	.userimage {
		
		width:125px;
		height:auto;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-top:-60px;
		
	}
	
	.aboutmetextbox {
		
		width:100%;
		height:auto;
		position:relative;
		margin-right:auto;
		margin-left:auto;
		top:70px;
		border-style:solid;
		padding-bottom:15px;
		border-width:1px;
		border-color:#d1d1d1;
		border-radius:10px;
		background-image: url("abstract4.png");
	}
	
	.whoisthisguy {
		
		text-align:center;
		font-size:25px;
		font-weight:bold;
		opacity:0.3;
		letter-spacing:5px;
		position:relative;
		
	}
	
	.aboutmetextsmall {
		
		text-align:center;
		position:relative;
		line-height:40px;
		opacity:0.7;
		font-size:17px;
	}

	.followme {
		
		width:100%;
		height:120px;
		position:relative;
		margin-left:auto;
		margin-right:auto;
		top:150px;
		
	}
	
	.followmetext {
		
		text-align:center;
		color:black;
		font-size:20px;
		letter-spacing:7px;
		opacity:0.8
		
	}
	
	.aboutmebuttonsdiv {
		
		width:51%;
		height:40%;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.facebook {
		
		background-color:#4267B2;
		border-color:none;
		width:150px;
		height:35px;
		color:white;
		font-family:Montserrat;
		border-radius:5px;
		border:none;
		cursor:pointer;
	}
	
	.facebookicon {
		
		width:11%;
		height:auto;
		position:relative;
		float:left;
		left:5%;
		
	}
	
	.github {
		
		background-color:#fafafa;
		border-color:none;
		width:150px;
		height:35px;
		color:#211f1f;
		font-family:Montserrat;
		border-radius:5px;
		border-width:1px;
		border-style:solid;
		border-color:#d1d1d1;
		margin-left:25px;
		cursor:pointer;
	}
	
	.githubicon {
		
		width:11%;
		height:auto;
		position:relative;
		float:left;
		left:5%;
		
	}
	
	.linkedin {
		
		background-color:#225982;
		border-color:none;
		width:150px;
		height:35px;
		color:white;
		font-family:Montserrat;
		border-radius:5px;
		border:none;
		margin-left:25px;
		cursor:pointer;
	}
	
	.linkedinicon {
		
		width:11%;
		height:auto;
		position:relative;
		float:left;
		left:5%;
	}
	
	/* ###### DEV PROGRAM WEBSITE SECTION ####### */
	
	.devprogram {
		
		width:100vw;
		height:700px;
		background-image: url("abstract6.png");
		position:relative;
		right:8px;
		
	}
	
	.devprogramleft {
		
		width:55%;
		height:100%;
		position:relative;
		float:left;
		
	}
	
	.websitepic {
		
		width:65%;
		height:auto;
		position:relative;
		top:75px;
		left:175px;
		opacity:0.8;
		
	}
	
	.devprogramright {
		
		width:45%;
		height:100%;
		position:relative;
		float:right;
		
	}
	
	.devprogramtextbox {
		
		width:80%;
		height:50%;
		position:relative;
		top:110px;
	}
	
	.devprogramh2 {
		
		font-size:60px;
		color:white;
		
	}
	
	.devprogramp {
		
		font-size:18px;
		color:white;
		line-height:40px;
		position:relative;
		bottom:20px;
		left:5px;
		
	}
	
	.thedevcolor1 {
		
		color:#ff7442;
		
	}
	
	/* ######## CHALLENGE SECTION ######## */
	
	.challenge {
		
		width:100vw;
		height:700px;
		background-image:url("abstract4.png");
		position:relative;
		right:8px;
		
	}
	
	.challengeleft {
		
		width:40%;
		height:100%;
		position:relative;
		float:left;
		
	}
	
	.challengetextbox {
		
		width:75%;
		height:50%;
		position:relative;
		top:130px;
		left:150px;
		
	}
	
	.challengetexth2 {
		
		font-size:55px;
		line-height:65px;
		
	}
	
	.challengetextp {
		
		font-size:18px;
		color:black;
		line-height:40px;
		position:relative;
		bottom:20px;
		left:5px;
		opacity:0.9;
		
	}
	
	.challengeright {
		
		width:60%;
		height:100%;
		position:relative;
		float:right;
		
	}
	
	.challengepic {
		
		width:75%;
		height:auto;
		position:relative;
		top:100px;
		left:80px;
		
	}
	
	.footer {
		
		width:100vw;
		height:60px;
		background-color:black;
		position:relative;
		bottom:-8px;
		right:8px;
		
	}
	
	.copyright {
		
		text-align:center;
		color:white;
		position:relative;
		top:35%;
		margin:auto;
		font-size:14px;
		
	}
	
	/* ### Responsive Layout First Section ### */
	
	@media only screen and (max-width: 1450px) {
	
	.subscribebutton {
		
		display:none;
		
	}
	
	.illustration1 {
		
		width:75%;
		height:auto;
		position:relative;
		top:170px;
		left:30px;
		
	}
	
	.aboutme {
		
		width:100vw;
		height:950px; 
		position:relative;
		right:8px;
		cursor:default;
		
	}
	
	.aboutmebuttonsdiv {
		
		width:60%;
		height:40%;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.challenge {
		
		width:100vw;
		height:650px;
		background-image:url("abstract4.png");
		position:relative;
		right:8px;
		
	}
	
	}
	
	@media only screen and (max-width: 1300px) {	
		
	.menulistelements {
		font-family:Montserrat, sans-serif;
		color:white;
		display:inline;
		margin: 5px;
	
	}
	
	.illustration1 {
		
		width:75%;
		height:auto;
		position:relative;
		top:170px;
		left:30px;
		
	}
	
	.textcontainerhome {
		
		width:75%;
		height:65%;
		position:relative;
		right:90px;
		float:right;
		top:130px;

	}
	
	.aboutmebuttonsdiv {
		
		width:55%;
		height:40%;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.aboutme1 {
		
		width:75vw;
		height:90%;
		position:relative;
		margin-right:auto;
		margin-left:auto;
		cursor:default;

	}
	
	.websitepic {
		
		width:65s%;
		height:auto;
		position:relative;
		top:120px;
		left:175px;
		opacity:0.8;
		
	}
	
	.devprogramtextbox {
		
		width:80%;
		height:50%;
		position:relative;
		top:50px;
	}
		
	}
	
	@media only screen and (max-width: 1100px) {
		
		.smallheader {
		width:70%;
		height:auto;
		position:relative;
		float:right;
		bottom:5px;
		left:100px;
		
	}
	
	.textcontainerhome {
		
		width:75%;
		height:65%;
		position:relative;
		right:50px;
		float:right;
		top:130px;

	}
	
	.devprogram {
		
		width:100vw;
		height:750px;
		background-image: url("abstract6.png");
		position:relative;
		right:8px;
		top:120px;
		
	}
	
	.illustration1 {
		
		width:75%;
		height:auto;
		position:relative;
		top:230px;
		left:30px;
		
	}
	
	.aboutmetextsmall {
		
		text-align:center;
		position:relative;
		line-height:40px;
		opacity:0.7;
		font-size:17px;
	}
	
	.aboutmebuttonsdiv {
		
		width:70%;
		height:40%;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.devprogramh2 {
		
		font-size:50px;
		color:white;
		
	}
	
	.devprogramp {
		
		font-size:16px;
		color:white;
		line-height:35px;
		position:relative;
		bottom:30px;
		left:5px;
		
	}
	
	.websitepic {
		
		width:65s%;
		height:auto;
		position:relative;
		top:120px;
		left:140px;
		opacity:0.8;
		
	}
	
	.challenge {
		
		width:100vw;
		height:600px;
		background-image:url("abstract4.png");
		position:relative;
		right:8px;
		
	}
	
	.challengetextbox {
		
		width:75%;
		height:50%;
		position:relative;
		top:70px;
		left:80px;
		
	}
	
	.challengepic {
		
		width:75%;
		height:auto;
		position:relative;
		top:110px;
		left:100px;
		
	}
		
	}
	
	@media only screen and (max-width: 900px) {
		
	.smallheader {
		width: 80%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		
	}	
		
	.home {
		
		width:100vw;
		height:700px;
		background-image: url("abstract1.png");
		position: relative;
		margin:0px 0px 0px -8px;
		cursor: default;
		
	}
	
	.textcontainerhometext {
		
		position:relative;
		font-size:45px;
		color:black;
		top:-20px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		
	}
	
	.homesmalltext {
		
		font-size:17px;
		line-height:45px;
		position:relative;
		bottom:30px;
		left:7px;
		opacity:0.8;
	}
	
	.aboutmetext {
		
		color:black;
		font-size:50px;
		letter-spacing:20px;
		position:relative;
		text-align:center;
	
	}
	
	.aboutmetextsmall {
		
		text-align:center;
		position:relative;
		line-height:35px;
		opacity:0.7;
		font-size:14px;
	}
	
	.aboutmebuttonsdiv {
		
		width:100%;
		height:40%;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.devprogram {
		
		width:100vw;
		height:650px;
		background-image: url("abstract6.png");
		position:relative;
		right:8px;
		top:40px;
		
	}
	
	.devprogramh2 {
		
		font-size:40px;
		color:white;
		
	}
	
	.devprogramp {
		
		font-size:14px;
		color:white;
		line-height:35px;
		position:relative;
		bottom:20px;
		left:5px;
		
	}
	
	.challenge {
		
		width:100vw;
		height:550px;
		background-image:url("abstract4.png");
		position:relative;
		right:8px;
		
	}
	
	.challengetexth2 {
		
		font-size:40px;
		line-height:65px;
		
	}
	
	.challengetextp {
		
		font-size:15px;
		color:black;
		line-height:40px;
		position:relative;
		bottom:20px;
		left:5px;
		opacity:0.9;
		
	}
	
	.challengepic {
		
		width:75%;
		height:auto;
		position:relative;
		top:140px;
		left:100px;
		
	}
		
	}
	
	@media only screen and (max-width: 700px) {
		
		.menulistelements {
		font-family:Montserrat, sans-serif;
		font-size:13px;
		color:white;
		display:inline;
		margin: 10px;
	
	}
		
		.smallheader {
		width: 100%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		right:15px;
		
	}
		
		.home {
		
		width:100vw;
		height:1100px;
		background-image: url("abstract1.png");
		position: relative;
		margin:0px 0px 0px -8px;
		
	}
		
		.illustration1div {
		
		width:80%;
		height:70%;
		position:absolute;
		float:none;
		top:370px;
		left:75px;
		
	}
	
	.illustration1 {
		
		width:80%;
		height:auto;
		position:relative;
		top:320px;
		left:10px;
		
	}
	
		.hometext {
	
		width:90%;
		height:100%;
		position: relative;
		float:none;
	
	}
	
	.textcontainerhometext {
		
		position:relative;
		font-size:55px;
		color:black;
		top:-20px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		text-align:center;
	}
	
	.homesmalltext {
		
		font-size:17px;
		line-height:45px;
		position:relative;
		bottom:30px;
		left:7px;
		opacity:0.8;
		text-align:center;
	}
	
	.subbuttonhome {
		
		position:relative;
		bottom:20px;
		width:100%;
		height:50px;
		border-style:none;
		background-color:#f35c1b;
		color:white;
		font-size:17px;
		font-weight:bold;
		border-radius:25px;
		cursor:pointer;
		margin:auto;
		
	}
	
	.aboutme {
		
		width:100vw;
		height:910px; 
		position:relative;
		right:8px;
		cursor:default;
		top:20px;
	}
	
	.aboutmebuttonsdiv {
		
		width:35%;
		height:200px;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.facebook {
		
		background-color:#4267B2;
		border-color:none;
		width:150px;
		height:35px;
		color:white;
		font-family:Montserrat;
		border-radius:5px;
		border:none;
		cursor:pointer;
		margin-left:25px;
	}
	
	.github {
		
		background-color:#fafafa;
		border-color:none;
		width:150px;
		height:35px;
		color:#211f1f;
		font-family:Montserrat;
		border-radius:5px;
		border-width:1px;
		border-style:solid;
		border-color:#d1d1d1;
		margin-left:25px;
		margin-top:20px;
		cursor:pointer;
	}
	
	.linkedin {
		
		background-color:#225982;
		border-color:none;
		width:150px;
		height:35px;
		color:white;
		font-family:Montserrat;
		border-radius:5px;
		border:none;
		margin-left:25px;
		margin-top:20px;
		cursor:pointer;
	}
	
	.devprogram {
		
		width:100vw;
		height:1050px;
		background-image: url("abstract6.png");
		position:relative;
		right:8px;
		top:230px;
		
	}
	
	.devprogramright {
		
		width:90%;
		height:100%;
		position:relative;
		margin:auto;
		
	}
	
	.devprogramtextbox {
		
		width:80%;
		height:50%;
		position:relative;
		top:50px;
		left:5%;
	}
	
	.devprogramh2 {
		
		font-size:40px;
		color:white;
		text-align:center;
	}
	
	.devprogramp {
		
		font-size:14px;
		color:white;
		line-height:35px;
		position:relative;
		bottom:20px;
		left:5px;
		text-align:center;
		
	}
	
	.devprogramleft {
		
		width:100%;
		height:50%;
		position:absolute;
		top:300px;
		left:-10px;
		
	}
	
	.websitepic {
		
		width:45%;
		height:auto;
		position:relative;
		opacity:0.8;
		left:210px;
		
	}
	
	.challenge {
		
		width:100vw;
		height:850px;
		background-image:url("abstract4.png");
		position:relative;
		right:8px;
		
	}
	
	.challengeleft {
		
		width:90%;
		height:300px;
		position:relative;
		top:350px;
		
		
	}
	
	.challengetextbox {
		
		width:75%;
		height:50%;
		position:relative;
		left:18%;
		
	}

	.challengetexth2 {
		
		font-size:40px;
		line-height:65px;
		text-align:center;
		
	}
	
	.challengetextp {
		
		font-size:15px;
		color:black;
		line-height:40px;
		position:relative;
		bottom:20px;
		left:5px;
		opacity:0.9;
		text-align:center;
		
	}
	
	.challengeright {
		
		width:60%;
		height:100%;
		position:absolute;
		bottom:70px;
		left:5%;
		
	}
	
	.challengepic {
		
		width:100%;
		height:auto;
		position:relative;
		
	}
	
	.footer {
		
		width:100vw;
		height:60px;
		background-color:black;
		position:relative;
		bottom:-8px;
		right:8px;
		top:-10px;
		
	}
		
	}
	
	@media only screen and (max-width: 600px) {
		
	.illustration1 {
		
		width:80%;
		height:auto;
		position:relative;
		top:350px;
		left:10px;
		
	}
	
	.aboutmebuttonsdiv {
		
		width:45%;
		height:200px;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.aboutme {
		
		width:100vw;
		height:980px; 
		position:relative;
		right:8px;
		cursor:default;
		top:20px;
		z-index:9;
	}
	
	.devprogramleft {
		
		width:100%;
		height:50%;
		position:absolute;
		top:320px;
		left:-10px;
		
	}
	
	.websitepic {
		
		width:50%;
		height:auto;
		position:relative;
		opacity:0.8;
		left:170px;
		
	}
	
	.challengeleft {
		
		width:90%;
		height:300px;
		position:relative;
		top:280px;
		
		
	}
		
	}
	
	@media only screen and (max-width: 500px) {
		
		.smallheader {
		width: 95%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		left:15px;
		margin-right:10px;
		
	}
	
		.menulist {
		list-style-type:none;
		position:relative;
		top:15px;
		right:10px;
		
	}
	
	.textcontainerhometext {
		
		position:relative;
		font-size:55px;
		color:black;
		top:-20px;
		left:15px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		text-align:center;
	}
	
	.homesmalltext {
		
		font-size:17px;
		line-height:45px;
		position:relative;
		bottom:30px;
		left:20px;
		opacity:0.8;
		text-align:center;
	}
	
	.subbuttonhome {
		
		position:relative;
		bottom:20px;
		width:120%;
		height:50px;
		border-style:none;
		background-color:#f35c1b;
		color:white;
		font-size:17px;
		font-weight:bold;
		border-radius:25px;
		cursor:pointer;
		margin:auto;
		
	}
	
	.illustration1 {
		
		width:80%;
		height:auto;
		position:relative;
		top:390px;
		left:-15px;
		
	}
		
		.aboutme {
		
		width:100vw;
		height:1100px; 
		position:relative;
		right:8px;
		cursor:default;
		top:20px;
		z-index:9;
	}
	
	.aboutmebuttonsdiv {
		
		width:55%;
		height:200px;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.devprogramleft {
		
		width:100%;
		height:50%;
		position:absolute;
		top:380px;
		left:-10px;
		
	}
	
	.challengeleft {
		
		width:90%;
		height:300px;
		position:relative;
		top:230px;
		
	}
	
	.websitepic {
		
		width:50%;
		height:auto;
		position:relative;
		opacity:0.8;
		
	}
	
	.challengeright {
		
		width:60%;
		height:100%;
		position:absolute;
		bottom:70px;
		left:1%;
		
	}
		
	}
	
	@media only screen and (max-width: 400px) {
		
		.menulistelements {
		font-family:Montserrat, sans-serif;
		font-size:12px;
		color:white;
		display:inline;
		margin: 5px;
	
	}
	
	.smallheader {
		width: 100%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		right:25px;
		
	}
		
	.illustration1 {
		
		width:80%;
		height:auto;
		position:relative;
		top:430px;
		left:-15px;
		
	}
	
	.aboutme {
		
		width:100vw;
		height:1250px; 
		position:relative;
		right:8px;
		cursor:default;
		top:20px;
		z-index:9;
	}
	
	.aboutmebuttonsdiv {
		
		width:65%;
		height:200px;
		position:relative;
		margin:auto;
		top:10px;

	}
	
	.devprogram {
		
		width:100vw;
		height:1150px;
		background-image: url("abstract6.png");
		position:relative;
		right:8px;
		top:230px;
		
	}
	
	.devprogramleft {
		
		width:100%;
		height:50%;
		position:absolute;
		top:490px;
		left:-35px;
		
	}
	
	.textcontainerhometext {
		
		position:relative;
		font-size:55px;
		color:black;
		top:-20px;
		left:15px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		text-align:center;
	}
	
	.homesmalltext {
		
		font-size:17px;
		line-height:45px;
		position:relative;
		bottom:30px;
		left:20px;
		opacity:0.8;
		text-align:center;
	}
	
	.subbuttonhome {
		
		position:relative;
		bottom:20px;
		width:120%;
		height:50px;
		border-style:none;
		background-color:#f35c1b;
		color:white;
		font-size:17px;
		font-weight:bold;
		border-radius:25px;
		cursor:pointer;
		margin:auto;
		
	}
		
	}
	
	