/* Navigation bar CSS */
	
	a {
		text-decoration:none;
	}
	
	h1, h2, h3, h4 {
		
		font-family:Montserrat,sans-serif;
		
	}
	
	p {
		
		font-family:Roboto Ligth, sans-serif;
		color: black;
		
	}
	
	.boldtext {
		
		font-weight:bold;
		
	}
	
	.bigheader {
		width: 100vw;
		height: 70px;
		background-color: black;
		position: relative;
		margin:-10px 0px 0px -8px;
	}
	
	.smallheader {
		width: 50%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		right:50px;
		
	}
	
	.menulist {
			list-style-type:none;
			position:relative;
			top:15px;
			
	}
	
	.menulistelements {
		font-family:Montserrat, sans-serif;
		color:white;
		display:inline;
		margin: 25px;
	
	}
	
	.menulinks:link {
		color:white;
		transition: color 0.2s linear;
	}
	
	.menulinks:visited {
		color:white;
		
	}
	
	.menulinks:hover {
		color:#f35c1b;
	}
	
	.subscribebutton {
		width:130px;
		height:30px;
		background-color:transparent;
		color:white;
		position:relative;
		float:right;
		bottom:25px;
		border-style:solid;
		border-width:2px;
		border-color:white;
		border-radius:20px;
		font-family:Montserrat,sans-serif;
		cursor:pointer;
	}
	
	/* FIRST SECTION - HOME */
	
	.home {
		
		width:100vw;
		height:650px;
		background-image: url("abstract1.png");
		position: relative;
		margin:0px 0px 0px -8px;
		
	}
	
	.home:hover {
		
		cursor: default;
		
	}
	
	.hometext {
	
		width:50%;
		height:100%;
		position: relative;
		float:left;
	
	}
	
	.textcontainerhome {
		
		width:75%;
		height:65%;
		position:relative;
		right:90px;
		float:right;
		top:110px;

	}
	
	.textcontainerhometext {
		
		position:relative;
		font-size:55px;
		color:black;
		top:-20px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		
	}
	
	.thedevcolor {
		
		color:#f35c1b;
		
	}
	
	.homesmalltext {
		
		font-size:20px;
		line-height:45px;
		position:relative;
		bottom:30px;
		left:7px;
		opacity:0.8;
	}
	
	.subbuttonhome {
		
		position:relative;
		bottom:20px;
		width:250px;
		height:50px;
		border-style:none;
		background-color:#f35c1b;
		color:white;
		font-size:17px;
		font-weight:bold;
		border-radius:25px;
		cursor:pointer;
		
	}
	
	.illustration1div {
		
		width:50%;
		height:100%;
		position:relative;
		float:right;
	}
	
	.illustration1 {
		
		width:85%;
		height:auto;
		position:relative;
		top:60px;
		right:50px;
		
	}
	
	/* Responsive Layout First Section */
	
	@media only screen and (max-width: 1450px) {
	
		.subscribebutton {
		
		display:none;
		
	}
	
	}
	@media only screen and (max-width: 1300px) {
		
		.illustration1 {
		
		width:85%;
		height:auto;
		position:relative;
		top:150px;
		right:50px;
		
		}	
		
		.menulistelements {
		font-family:Montserrat, sans-serif;
		color:white;
		display:inline;
		margin: 5px;
	
	}
		
	}
	
	@media only screen and (max-width: 1100px) {
		
		.smallheader {
		width: 70%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		right:75px;
		
	}
		
	}
	
	@media only screen and (max-width: 1050px) {
	
		.textcontainerhometext {
		
		position:relative;
		font-size:40px;
		color:black;
		top:-20px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		
	}
		.homesmalltext {
		
		font-size:17px;
		line-height:35px;
		position:relative;
		bottom:30px;
		left:7px;
		opacity:0.8;
	}
		
	}
	
	@media only screen and (max-width: 700px) {
		
		.menulistelements {
		font-family:Montserrat, sans-serif;
		font-size:13px;
		color:white;
		display:inline;
		margin: 10px;
	
	}
		
		.smallheader {
		width: 100%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		right:15px;
		
	}
		
		.home {
		
		width:100vw;
		height:975px;
		background-image: url("abstract1.png");
		position: relative;
		margin:0px 0px 0px -8px;
		
	}
		
		.illustration1div {
		
		width:70%;
		height:70%;
		position:absolute;
		float:none;
		top:450px;
		
	}
	
		.hometext {
	
		width:90%;
		height:100%;
		position: relative;
		float:none;
	
	}
		
	}
	
	@media only screen and (max-width: 500px) {
	
		.smallheader {
		width: 100%;
		height: auto;
		position: relative;
		float:right;
		bottom:5px;
		right:5px;
		
	}
	
	.menulistelements {
		font-family:Montserrat, sans-serif;
		font-size:12px;
		color:white;
		display:inline;
		margin:1px;
	
	}
		
		.home {
		
		width:100vw;
		height:970px;
		background-image: url("abstract1.png");
		position: relative;

		
	}
	
		.bigheader {
		width: 100vw;
		height: 70px;
		background-color: black;
		position: relative;

	}
		
		.illustration1div {
		
		width:100%;
		height:auto;
		position:absolute;
		float:none;
		top:500px;
		left:80px;
		
	}
	
		.hometext {
	
		width:90%;
		height:100%;
		position: relative;
		top:-50px;
		float:none;
		left:50px;
	
		}
		
		.textcontainerhometext {
		
		position:relative;
		font-size:40px;
		color:black;
		top:-20px;
		font-family:Montserrat, sans-serif;
		letter-spacing:-3px;
		text-transform:uppercase;
		
	}
		.homesmalltext {
		
		font-size:17px;
		line-height:35px;
		position:relative;
		bottom:30px;
		left:7px;
		opacity:0.8;
	}
	}
	
	